ul {
  list-style-type: none;
}

p,
a {
  color: #ffffff;
}

ul {
  padding: 0%;
}

h3 {
  font-size: 14px;
  color: white;
  font-weight: 700;
}

.navbar {
  background-color: #414141;
}

.App {
  background-color: #525252;
  height: 100vh;
}

.selection-bar {
  background-color: #414141;
  height: 100vh;
  padding: 0%;
}

.content-area {
  background-color: #313131;
  margin: 0 auto;
}

.nav-elements {
  margin-top: 10%;
}

.nav-element {
  padding: 10% 15%;
  font-weight: 700;
  color: #ffffff;
}

.nav-element:hover {
  background-color: #525252;
}

.nav-icon {
  margin-right: 5%;
}

.nav-highlight {
  background-color: #525252;
  padding: 10% 15%;
  font-weight: 700;
  color: #ffffff;
}
